body,
html {
	margin:0;
	padding:0;
	color:#000;
	background:#ffffff;
}
body{
    background-color:#4b5980; 
    background-image:url(background.jpg);
    background-repeat:repeat-y;
    font-family: arial, helvetica, sans-serif;
        font-size: 16px;
        color: black;
    	text-align: left;
}
#wrap {
	width:750px;
	margin:0 auto;
	background:#ffffff;
}
header {
   	padding:5px 10px;
	background:#ffffff;
}
h1 {
    margin:0;
   }
nav {
	padding:5px 10px;
	background:#ffffff;
}
nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
nav li {
	display:inline;
	margin:0;
	padding:0;
}
article {
	float:left;
	width:480px;
	padding:10px;
	background:#ffffff;
}
h2 {
	margin:0 0 1em;
}
#sidebar {
	float:right;
	width:230px;
	padding:10px;
	background:#ffffff;
}
footer {
	clear:both;
	padding:5px 10px;
	background:#ffffff;
}
footer p {
	margin:0;
   }
* html footer {
	height:1px;
}

body {
	background-color: #FFFFFF;
}

.Stil1 {
	font-size: 16px;
	font-weight: bold;
}


p.menulink a:link, p.menulink a:visited 
	{
	text-decoration: none; 
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
}

p.menulinksmall a:link, p.menulinksmall a:visited 
	{
	text-decoration: none; 
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}

#borderyellow {
  border-width:2px;
  border-style:solid;
  border-color: #f4e06d;
  padding:0.5em;
}

#borderblue {
  border-width:3px;
  border-style:solid;
  border-color: #475989;
  padding:0.5em;
}

h1{
color: black;
text-align: center;
}
h2{
color: black;}

h3{
color: black;
text-align: center;
}
h4{
color: black;
text-align: center;
}

