body,
html {
	margin:0;
	padding:0;
	color:#000;
	background:#a7a09a;
}
#wrap {
	width:750px;
	margin:0 auto;
	background:#99c;
}
#header {
   	padding:5px 10px;
	background:#ddd;
}
h1 {
    margin:0;
   }
#nav {
	padding:5px 10px;
	background:#c99;
}
#nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
#nav li {
	display:inline;
	margin:0;
	padding:0;
}
#main {
	float:left;
	width:480px;
	padding:10px;
	background:#9c9;
}
h2 {
	margin:0 0 1em;
}
#sidebar {
	float:right;
	width:230px;
	padding:10px;
	background:#99c;
}
#footer {
	clear:both;
	padding:5px 10px;
	background:#cc9;
}
#footer p {
	margin:0;
   }
* html #footer {
	height:1px;
}

body {
	background-color: #FFFFFF;
}

.Stil1 {
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	}


p.menulink a:link, p.menulink a:visited 
	{
	text-decoration: none; 
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	}

p.menulinksmall a:link, p.menulinksmall a:visited 
	{
	text-decoration: none; 
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	}

#borderyellow {
  border-width:2px;
  border-style:solid;
  border-color: #f4e06d;
  padding:0.5em;
}

#borderblue {
  border-width:3px;
  border-style:solid;
  border-color: #475989;
  padding:0.5em;
}

